.wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 600px;
  height: 100%;
  max-height: 100%;
  color: var(--text-primary-color);
}

.ingredients {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--offset-base-size) * 4);
  min-height: 0;
}

.scrollable_area {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 4);
  min-height: 0;
  overflow-y: auto;
  list-style: none;
}

.footer {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
  gap: calc(var(--offset-base-size) * 10);
}

.empty_state {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}
