.formWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: calc(var(--offset-base-size) * 30);
}

.form {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.buttons {
  align-self: flex-end;
}
