.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 320px;
}

.formWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}

.navLink {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0;
  color: var(--text-inactive-color);
  text-align: left;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.navLink:hover {
  color: var(--text-primary-color);
}

.navLinkActive {
  color: var(--text-primary-color);
}

.navButton {
  width: 100%;
}

.description {
  opacity: 0.4;
}

.form {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.buttons {
  align-self: flex-end;
}
