.pageTitle {
  width: 100%;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}

.pageMain {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.pageMainWithGap {
  gap: calc(var(--offset-base-size) * 15);
}
