.currentOrdersWrapper {
  display: flex;
  gap: calc(var(--offset-base-size) * 9);
}

.currentOrdersBlock {
  flex: 1;
}

.numbersList {
  display: inline-flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 2);
}

.numbersListReady {
  color: var(--colors-interface-success);
}

.numberGlow {
  text-shadow:
    0 0 8px rgb(51 51 255 / 80%),
    0 0 16px rgb(51 51 255 / 50%),
    0 0 24px rgb(51 51 255 / 30%);
}
