.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;

  /* padding-top: 40px; */
}

.nav {
  position: absolute;
  top: calc(var(--offset-base-size) * 30);
  display: flex;
  flex-direction: column;
  width: 320px;
}

.outlet {
  flex: 1;
  margin-left: 320px;
}

.navLink {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0;
  color: var(--text-inactive-color);
  text-align: left;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.navLink:hover {
  color: var(--text-primary-color);
}

.navLinkActive {
  color: var(--text-primary-color);
}

.navButton {
  width: 100%;
}

.description {
  opacity: 0.4;
}
