.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.image {
  width: 480px;
  height: 240px;
}
