.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 844px;
  min-height: 400px;
  padding-top: calc(var(--offset-base-size) * 10);
}
