.pageWithTopPadding {
  padding-top: calc(var(--offset-base-size) * 30);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.title {
  text-align: center;
}
