.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.sections_wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 10);
  margin: calc(var(--offset-base-size) * 10) 0;
  overflow-y: auto;
}
